%header.bar-title
  %a.button-prev{:href => "/", :'data-transition' => "slide-out"} Back
  %h1.title Confirm
.content
  %ul.list
    %li.list-divider Complaint
    %li#complaint
    %li.list-divider Location
    %li#streetAddress
    %li.list-divider#comments-label Comments
    %li#comments

  .content-padded
    %p#invalid-complaint
      Your settings and/or complaint are currently invalid.  Ensure you have entered valid information in Settings and that you have
      entered a location and a type of complaint to proceed.
    %a#submit-complaint.button-negative.button-block{:style => "display: none;"} Submit Complaint
