%header.bar-title
  %h1.title Gavel
  %a.button-next{:href => "/settings", :'data-transition' => "slide-in"} Settings
  
.content
  .content-padded
    %form#complaint
      %p
        %strong Location
      %input#address{:type => "text", :name => "streetAddress", :placeholder => "123 Fake St"}
        %select{:name => "city"}
          %option Hamilton
          %option Ancaster
          %option Dundas
          %option Flamborough
          %option Glanbrook
          %option Stoney Creek
      %p
        %strong Complaint
      %select{:name => "complaint"}
        %option
        %option Snow and Ice
        %option Barking Dogs
        %option Business Licences
        %option Dog feces
        %option Exterior Property Maintenance
        %option Garbage and Debris
        %option Garbage dumping
        %option Illegal use of property
        %option Interior Property Maintenance
        %option Long grass
        %option Noise
        %option Potential Vacant Building
        %option Signs
      %textarea{:placeholder => "Comments / Additional details", :rows => 3, :name => "comments"}
      %a#next-complaint.button.button-block{:href => "/confirm", :'data-transition' => "slide-in"} Next
    %p
      All of the rules that apply to
      %a{:href => "http://www.hamilton.ca/CityDepartments/CorporateServices/ITS/Forms+in+Development/Municipal+Law+Enforcement+Online+Complaint+Form.htm", :target => "_"} the City of Hamilton bylaw enforcement form
      apply here (it's the same form, after all!)
