%header.bar-title
  %a.button-prev{:href => "/", :'data-transition' => "slide-out"} Back
  %h1.title Settings
.content
  .content-padded
    %p
      Ensure you supply genuine contact information.  This application submits data to the City of Hamilton's website via the
      %a{:href => "http://www.hamilton.ca/CityDepartments/CorporateServices/ITS/Forms+in+Development/Municipal+Law+Enforcement+Online+Complaint+Form.htm", :target => "_"}
        Municipal Law Enforcement Online Complaint Form.
      Your submissions are handled according to the policy on that form, which is duplicated on the bottom of this page.
    %br/
    %form#settings
      %input{:type => "text", :name => "first_name", :placeholder => "First name"}
      %input{:type => "text", :name => "last_name", :placeholder => "Last name"}
      %input{:type => "email", :name => "email", :placeholder => "Email"}
      %input{:type => "text", :name => "primary_phone", :placeholder => "Primary phone"}
      %input{:type => "text", :name => "secondary_phone", :placeholder => "Secondary phone (optional)"}
      %input{:type => "text", :name => "address", :placeholder => "Address"}
        %select{:name => "city"}
          %option Hamilton
          %option Ancaster
          %option Dundas
          %option Flamborough
          %option Glanbrook
          %option Stoney Creek
      %input{:type => "text", :name => "postal_code", :placeholder => "Postal code"}
      %a#save.button.button-block Save

      %p Personal information collected on this form is intended to be used for investigation and related activities, and in contacting you regarding your complaint if necessary. All information collected on this form is subject to the provisions of the Municipal Freedom of Information and Protection of Privacy Act. The City of Hamilton considers a complainant to be a confidential source in respect of law enforcement matters and every effort will be made to protect the identity of the complainant. If you have questions regarding this collection, please contact Municipal Law Enforcement Section at 905- 546-2782, Hamilton City Centre, 77 James Street North, Suite #250, Hamilton ON L8R 2K3.
